<%= link_to profile_path(visitor), class: "flex flex-col gap-4 hover:bg-gray-200 transition-bg duration-300 ease-in-out p-2 px-4 rounded-lg", data: {turbo_frame: "_top"} do %>
  <div class="flex items-center gap-4">
    <%= ui_avatar(visitor) %>
    <div>
      <div class="font-bold text-base line-clamp-1 flex items-center gap-1.5">
        <span class="line-clamp-1"><%= visitor.name %></span>

        <% if visitor.verified? %>
          <%= fa("badge-check", class: "fill-blue-500", size: :xs) %>
        <% end %>
      </div>

      <div class="text-xs text-gray-500 line-clamp-1">
        <% if defined?(content) %>
          <%= content %>
        <% elsif visitor.github_handle.present? %>
          <%= "@#{visitor.github_handle}" %>
        <% elsif visitor.bsky.present? %>
          <%= "@#{visitor.bsky}" %>
        <% else %>
          <%= "@#{visitor.slug}" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
