<%= ui_dropdown align: :end, content_classes: "mt-5 shadow-xl", id: "user_navbar_toggle" do |c| %>
  <% c.with_toggle_open do %>
    <%= fa("xmark", size: :md) %>
  <% end %>

  <% c.with_toggle_close do %>
    <%= fa("bars", size: :md) %>
  <% end %>

  <% c.with_menu_item_link_to "Leaderboard", leaderboard_path %>
  <% c.with_menu_item_link_to "Countries", countries_path %>
  <% if Current.user %>
    <% c.with_menu_item_divider %>

    <% c.with_menu_item_link_to "For You", recommendations_path %>

    <% c.with_menu_item_link_to watched_talks_path do %>
      <div class="flex items-center gap-2">
        <span>Recently Watched</span>
        <% if Current.user.watched_talks_count.positive? %>
          <div class="badge badge-secondary"><%= Current.user.watched_talks_count %></div>
        <% end %>
      </div>
    <% end %>

    <% c.with_menu_item_link_to watch_lists_path do %>
      <div class="flex items-center gap-2">
        <span>Bookmarks</span>
        <% if Current.user.default_watch_list.talks_count.positive? %>
          <div class="badge badge-secondary"><%= Current.user.default_watch_list.talks_count %></div>
        <% end %>
      </div>
    <% end %>

    <% c.with_menu_item_divider %>
    <% c.with_menu_item_link_to "My Profile", profile_path(Current.user) %>
    <% c.with_menu_item_link_to "Settings", settings_path %>
    <% if Current.user&.admin? %>
      <% c.with_menu_item_link_to "Suggestions", admin_suggestions_path %>
      <% c.with_menu_item_link_to t("admin"), avo_path %>
      <% c.with_menu_item_divider %>
    <% end %>
    <% c.with_menu_item_button_to t("sign_out"),
         Current.session,
         method: :delete,
         id: :sign_out %>
  <% end %>
<% end %>
