<%= ui_dropdown align: :end, content_classes: "mt-5 shadow-xl min-w-32", id: "user_navbar_toggle" do |c| %>
  <% c.with_toggle_open do %>
    <%= fa("xmark", size: :lg) %>
  <% end %>

  <% c.with_toggle_close do %>
    <%= fa("bars", size: :lg) %>
  <% end %>

  <% c.with_menu_item_link_to t("navbar.home"), root_path %>
  <% c.with_menu_item_link_to t("navbar.videos"), browse_index_path %>
  <% c.with_menu_item_link_to t("navbar.talks"), talks_path %>
  <% c.with_menu_item_link_to t("navbar.speakers"), speakers_path %>
  <% c.with_menu_item_link_to t("navbar.organizations"), organizations_path %>
  <% c.with_menu_item_link_to t("navbar.events"), events_path %>
  <% c.with_menu_item_link_to t("navbar.cfps"), cfp_index_path %>
  <% c.with_menu_item_link_to t("navbar.topics"), topics_path %>

  <% c.with_menu_item_divider %>

  <% c.with_menu_item_link_to t("navbar.leaderboard"), leaderboard_path %>
  <% c.with_menu_item_link_to t("navbar.countries"), countries_path %>

  <% signed_in do %>
    <% c.with_menu_item_divider %>

    <% c.with_menu_item_link_to t("navbar.favorite_rubyists"), favorite_users_path %>
    <% c.with_menu_item_link_to t("navbar.for_you"), recommendations_path %>
    <% c.with_menu_item_link_to watched_talks_path do %>
      <div class="flex items-center gap-2">
        <span><%= t("navbar.recently_watched") %></span>
        <% if Current.user.watched_talks_count.positive? %>
          <div class="badge badge-secondary"><%= Current.user.watched_talks_count %></div>
        <% end %>
      </div>
    <% end %>

    <% c.with_menu_item_link_to watch_lists_path do %>
      <div class="flex items-center gap-2">
        <span><%= t("navbar.bookmarks") %></span>
        <% if Current.user.default_watch_list.talks_count.positive? %>
          <div class="badge badge-secondary"><%= Current.user.default_watch_list.talks_count %></div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% signed_in do %>
    <% c.with_menu_item_divider %>
    <% c.with_menu_item_link_to t("navbar.my_profile"), profile_path(Current.user) %>
    <% c.with_menu_item_link_to t("navbar.settings"), settings_path %>
    <% c.with_menu_item_button_to t("navbar.sign_out"), Current.session, method: :delete, id: :sign_out %>

    <% if Current.user&.admin? %>
      <% c.with_menu_item_link_to t("navbar.suggestions"), admin_suggestions_path %>
      <% c.with_menu_item_link_to t("navbar.admin"), avo_path %>
    <% end %>
  <% end %>

  <% signed_out do %>
    <% c.with_menu_item_divider %>
    <% c.with_menu_item_link_to t("navbar.sign_in"), new_session_path(redirect_to: request.fullpath), data: {turbo_frame: "modal"} %>
  <% end %>
<% end %>
