<div class="container py-8 hotwire-native:py-3" data-controller="events-view-switcher">
  <div class="flex flex-col md:flex-row items-start md:items-center justify-between w-full gap-4 hotwire-native:hidden">
    <h1 class="title shrink-0">
      <%= title "Upcoming Events" %>
    </h1>

    <div class="flex flex-col md:flex-row items-start md:items-center gap-4">
      <div class="tabs tabs-boxed">
        <button type="button" class="tab tab-active" data-events-view-switcher-target="previewButton" data-action="click->events-view-switcher#showPreview">
          Preview
        </button>

        <button type="button" class="tab" data-events-view-switcher-target="listButton" data-action="click->events-view-switcher#showList">
          List
        </button>

        <%= link_to "Calendar", year_events_path(year: Date.today.year), class: "tab" %>
      </div>

      <div class="flex gap-4 whitespace-nowrap">
        <%= link_to "Past Events", past_events_path, class: "link" %>
        <%= link_to "Archive", archive_events_path, class: "link" %>
      </div>
    </div>
  </div>

  <div data-events-view-switcher-target="previewView">
    <%= render partial: "events/featured_card_list", locals: {events: @events} %>
  </div>

  <div class="hidden mt-6" data-events-view-switcher-target="listView">
    <%= render partial: "events/plain_list", locals: {events: @events} %>
  </div>
</div>
