<div class="container py-8 hotwire-native:py-3">
  <h1 class="title hotwire-native:hidden">
    <%= title "Upcoming Conferences" %>
  </h1>

  <div class="grid grid-cols-2 gap-8" data-controller="upcoming">
    <div id="upcoming-events" class="flex flex-col gap-2 mt-8">
      <% @events.each do |event| %>
        <%= link_to event, class: "event-item flex gap-4 group p-2 hover:bg-gray-200 rounded-md", data: {action: "mouseover->upcoming#reveal", upcoming_target: "item", event_id: event.id} do %>
          <div class="flex flex-col lg:flex-row gap-8 items-center lg:justify-right text-center lg:text-left mb-6 lg:mb-0">
            <%= image_tag image_path(event.avatar_image_path),
                  class: "rounded-xl border border-[#D9DFE3] size-16",
                  alt: "#{event.name} Avatar",
                  style: "view-transition-name: avatar",
                  loading: :lazy %>
          </div>

          <div class="flex-col flex justify-center relative overflow-hidden">
            <div class="text-black group-hover:text-inherit font-bold text-xl" style="view-transition-name: title"><%= event.name %></div>
            <div class="text-[#636B74] group-hover:text-inherit"><%= event.formatted_dates %> • <%= event.location %></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div>
      <% @events.each do |event| %>
        <div
          data-upcoming-target="poster" data-event-id="<%= event.id %>"
          class="hidden w-full lg:h-92 p-4 lg:p-16 border rounded-[25px] lg:rounded-[50px] text-center lg:text-left"
          style="
            color: <%= event.featured_color %>;
            <% if event.featured_background.start_with?("data:") %>
              background: url('<%= event.featured_background %>');
              background-repeat: no-repeat;
              background-size: cover;
            <% else %>
              background: <%= event.featured_background %>;
            <% end %>
          ">
          <a href="<%= event_path(event) %>">
            <div class="grid-cols-[1fr_2fr]">
              <div>
                <div class="flex justify-center mb-9">
                  <%= image_tag event.featured_image_path, class: "w-[200px] max-h-none lg:w-full", loading: "lazy", width: 615, height: 350, alt: event.name %>
                </div>

                <div class="flex flex-col gap-3 lg:h-48 lg:max-h-48 overflow-hidden items-center lg:items-start">
                  <h1 class="text-inherit font-bold text-xl line-clamp-1 lg:line-clamp-2"><%= event.name %></h1>
                  <h2 class="text-inherit opacity-60 text-sm line-clamp-1"><%= event.location %> • <%= event.formatted_dates %></h2>
                  <h2 class="text-inherit font-medium text-sm line-clamp-3 hidden lg:block">
                    <%= event.description %>
                    <%= event.static_metadata.home_updated_text %>
                  </h2>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
