<%# locals: (topics:) %>

<section class="flex flex-col gap-4" data-section="talk-kinds">
  <div class="flex items-end justify-between">
    <div>
      <h2 class="text-xl font-bold">Popular Topics</h2>
      <p class="text-sm text-gray-500">Browse talks by topic</p>
    </div>

    <%= link_to topics_path, class: "link text-sm shrink-0 flex items-center gap-1 hover:gap-2 transition-all", data: {turbo_frame: "_top"} do %>
      View All

      <%= fa("arrow-right-long", size: :sm) %>
    <% end %>
  </div>

  <div class="flex flex-wrap gap-3">
    <% topics.each do |topic| %>
      <%= link_to topic_path(topic), class: "btn btn-outline btn-sm gap-2 hover:btn-primary", data: {turbo_frame: "_top"} do %>
        <% if topic.topic_gems.any? %>
          <%= fa("gem", size: :xs, class: "fill-primary") %>
        <% end %>

        <%= topic.name %>

        <span class="badge badge-ghost badge-sm"><%= topic.talks_count %></span>
      <% end %>
    <% end %>
  </div>
</section>
