<%= turbo_stream.replace "series_search_results" do %>
  <div
    id="series_search_results"
    class="<%= @series.any? ? 'pb-4 border-b' : 'hidden' %>"
    data-spotlight-search-target="seriesSearchResults">
    <% if @series.any? %>
      <div class="flex items-center flex-wrap gap-2 py-2">
        <span class="text-sm font-medium text-gray-600">Series</span>
        <span class="text-xs text-gray-400">(<%= total_count %>)</span>
      </div>
      <div class="flex flex-wrap gap-2">
        <% @series.each do |series| %>
          <%= link_to series_path(series), target: "_top", class: "badge badge-ghost hover:bg-gray-200 px-3 py-3 text-sm gap-1" do %>
            <%= series.name %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
