<div class="container py-8 hotwire-native:py-3">
  <h1 class="title py-4 hotwire-native:hidden">
    <%= title "Speakers" %>
    <% if params[:s].present? %>
      : search results for "<%= params[:s] %>"
    <% end %>
  </h1>

  <div class="mb-6 hotwire-native:hidden">
    <%= form_with url: speakers_path, method: :get, data: {controller: "auto-submit", turbo_stream: true, turbo_action: :advance}, class: "flex items-center align-center gap-2" do |form| %>
      <%= form.text_field :s,
            value: params[:s],
            placeholder: "Search speakers...",
            class: "input input-bordered flex-1" %>
      <%= form.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div
    id="speakers"
    class="
      hotwire-native:mt-3 grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-8
      lg:gap-x-12 gap-y-2 min-w-full
    ">
    <%# we need special cache key for speakers because @speakers is paginated %>
    <% cache [@speakers.except(:order).pluck(:id, :updated_at).hash] do %>
      <%= render partial: "speakers/speaker",
            collection: @speakers,
            as: :speaker,
            cached: true %>
    <% end %>
  </div>
  <%= turbo_frame_tag :pagination,
        data:
          (
            if @pagy.next.present?
              {
                controller: "lazy-loading",
                lazy_loading_src_value:
                  speakers_path(s: params[:s], page: @pagy.next, format: :turbo_stream)
              }
            else
              {}
            end
          ) %>
</div>
